.sidebar {
  position: fixed;
  top: 100;
  left: 0;
  width: 400px;
  min-height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  z-index: 9999;
}

@media (max-width: 767px) {
  .sidebar {
      width: 100%; 
  }
}

.sidebar.open {
  transform: translateX(0);
}