<div id="cart" [ngClass]="{ open: isCartOpen }" class="cart-sidebar">
    <div class="flex justify-between items-center pt-4 px-2 border-b-4 border-red-500">
      <p class="text-gray-500 font-bold text-xl">Cart</p>
      <div class="w-[30px] h-[30px] hover:bg-red-500 hover:text-white border-2 bg-gray-200  rounded-full flex justify-center items-center mb-3 cursor-pointer">
        <mat-icon (click)="closeCart()" class="">close</mat-icon>
       
      </div>
    </div>

    <div *ngFor="let item of selectedFoodList">
        <div class="flex flex-row gap-4 px-2 py-2 border-b-2 border-gray-200">
            <img class="basis-1/4 rounded-full shadow-2xl h-[80px] w-[80px] object-cover my-1"
            [src]="baseUrl+'food/'+item?.image" />
            <div class="basis-2/4 flex flex-col justify-start items-center mt-1">
                <p class="text-[16px] font-bold opacity-60">{{item.name}}</p>
                <div class="flex flex-row">
                    <div class="border-2 border-gray-900 rounded-xl opacity-60 px-1 hover:border-red-500 hover:bg-red-500 hover:opacity-100 hover:text-white "><mat-icon (click)="decreaseQuantity(item)" class="mt-1 hover:cursor-pointer hover:font-bold ">remove</mat-icon></div>
                    <div class="px-5 border-gray-900 opacity-80 py-2  text-[16px] ">{{item.quantity}}</div>
                    <div class="border-2 border-gray-900 rounded-xl opacity-60 px-1 hover:border-green-500 hover:bg-green-500 hover:opacity-100 hover:text-white"><mat-icon (click)="increaseQuantity(item)" class="mt-1 hover:cursor-pointer hover:font-bold hover:text-white" >add</mat-icon></div>
                  </div>
            </div>
            <div class="basis-1/4 flex flex-col justify-end items-center my-1">
                <div class="mb-4 text-red-500 hover:text-red-600 cursor-pointer" (click)="removeItem(item)">
                    <mat-icon>delete</mat-icon>
                </div>
               
                <p class="text-[14px]">Price: {{calculateTotalPrice(item)}} $</p>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <p class="text-lg font-bold text-center opacity-60">Total Price: {{getTotalPrice()}} $</p>
      </div>
      <div class="px-3" *ngIf="selectedFoodList.length!==0">
        <div class="bg-red-500 hover:bg-green-500 text-white w-full text-center text-[15px] font-bold py-[12px] rounded-lg " (click)="confirmOrder()">
                Confirm Order
        </div>
      </div>
  </div>
