<section class="container-bg">
  <div class="h-screen flex justify-center items-center">
    <div class="login-left hidden lg:flex justify-center items-center w-full">
      <img src="../../../assets/images/login-bg.png" class="w-[480px] rotate-img">
    </div>
    <div class="login-right flex justify-center items-center w-full mx-10 lg:mx-0">
      <div class="w-full bg-[#F1F1F1] rounded-lg dark:border lg:max-w-lg shadow-lg">
        <form [formGroup]="loginForm" class="flex flex-col justify-center p-8" (ngSubmit)="loginUser()">
          <div class="flex justify-center mb-12">
            <img class="w-32" src="../../../assets/logo.png" alt="" />
          </div>
          <h2 class="text-2xl text-center font-extrabold text-red-500 " style="letter-spacing: 5px;">BSS RESTAURANT</h2>
          <div class="mb-3">
            <label for="email" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Your Email</label>
            <input type="email" id="email" formControlName="userName"
              class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
              placeholder="Enter Your Email" required>

          </div>
          <div class="text-red-600 mb-3" *ngIf="isEmailInvalid()">
            Please enter a valid email address!
          </div>
          <div class="mb-4">
            <label for="password" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Your Password</label>
            <div class="relative">
              <input [type]="passwordVisible ? 'text' : 'password'" id="password" formControlName="password"
              class="shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
              placeholder="Enter Your Password" required>
              <fa-icon [icon]="passwordVisible ? faEye : faEyeSlash"
                       class="absolute top-1/2 right-2 transform -translate-y-1/2 cursor-pointer"
                       (click)="togglePasswordVisibility()">
              </fa-icon>
            </div>
          </div>
          <div class="text-red-600 mb-4" *ngIf="isPasswordPatternInvalid()">
            Password must be at least 8 characters with a letter, digit and special character!
          </div>
          <button type="submit" [disabled]="submitting"  [class]="submitting ? 'w-full bg-white mt-5 text-lg' : 'w-full !text-white hover:text-white !bg-red-500 mt-5 text-lg'" mat-raised-button>
            <span *ngIf="!submitting">Login</span>
            <mat-progress-spinner *ngIf="submitting" color="accent" [diameter]="24" class="spinner"
              [mode]="'indeterminate'"></mat-progress-spinner>
          </button>

        </form>
        <div class="flex justify-center gap-2 pb-8">
          <p>Don't have an account? </p>
          <a href="" class="text-red-500 font-semibold" routerLink="/registration"> Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>
