<app-header ></app-header>

 <div class="flex justify-between px-10 mt-[10px]">
  <h1 class="text-red-500">Food List</h1>
  <button class="w-[200px] h-[50px] bg-white text-black rounded-lg border border-red-300 hover:border-red-500 transition duration-300 ease-in-out hover:bg-red-500 hover:text-white" routerLink="/dashboard/add-food">
    Add Food
  </button>

</div>

<div class="h-[calc(100vh-168px)] overflow-y-auto">
  <div class="p-4">
    <div class="overflow-x-auto" *ngIf="!isLoading">
      <table class="w-full bg-white border border-gray-300" >
        <thead>
          <tr class="flex flex-row">
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Image</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Name</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Price</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Discount Type</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Discount</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Discount Price</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Action</th>
          </tr> 
        </thead>
        <tbody class="hover:bg-gray-100">
          <tr *ngFor="let food of foodList.data" class="flex flex-row items-center border-b">
            <td class="py-2 px-4  text-left basis-1/6 truncate"> <img class="rounded-full shadow-2xl h-[45px] w-[45px]  object-cover rotate-on-hover-image"
              [src]="baseUrl+'food/'+food.image" />
            <td class="py-2 px-4  text-left basis-1/6 truncate">{{ food.name }}</td>
            <td class="py-2 px-4  text-left basis-1/6 truncate ">{{ food.price }}</td>
            <td class="py-2 px-4  text-left basis-1/6 truncate">{{ food.discountType }}</td>
            <td class="py-2 px-4  text-left basis-1/6 truncate">{{ food.discount }}</td>
            <td class="py-2 px-4  text-left basis-1/6 truncate">{{ food.discountPrice}}</td>
            <td class="py-2 px-4    basis-1/6 flex flex-row gap-[10px] truncate">
              <mat-icon>
                <span class="material-symbols-outlined text-green-400 hover:text-green-600 cursor-pointer">
                  edit
                </span>
              </mat-icon>
              <mat-icon (click)=" openDeleteConfirmationModal(food.id)">
                <span class="material-symbols-outlined text-red-400 hover:text-red-600 cursor-pointer">
                  delete
                </span>
              </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="overflow-x-auto" *ngIf="isLoading">
      <table class="w-full bg-white border border-gray-300" >
        <thead>
          <tr class="flex flex-row">
            <th class="py-2 px-4 border-b text-left w-[100px] truncate">Image</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Name</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Price</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Discount Type</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Discount</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Discount Price</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Action</th>
          </tr> 
        </thead>
        <tbody >
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>

        </tbody>
      </table>
    </div>  

    <div class="flex justify-end items-center mt-[20px]">


   <div class="relative md:inline" #menuContainer [ngClass]="{'hidden': sidebar}">
        <button
          class="py-2 px-4 bg-white text-black w-[100px] rounded focus:outline-none focus:shadow-outline border border-slate-600 flex flex-row justify-center items-center gap-1"
          (click)="toggleMenu()">
          {{ this.itemsPerPage }}
          <mat-icon *ngIf="!isMenuOpen"><span class="material-symbols-outlined">arrow_drop_down</span> </mat-icon>
          <mat-icon *ngIf="isMenuOpen"><span class="material-symbols-outlined">arrow_drop_up</span> </mat-icon>
        </button>
        <div class="absolute bottom-full right-0  w-[100px] bg-white border rounded shadow-lg hidden"
          [ngClass]="{ 'block': isMenuOpen, 'hidden': !isMenuOpen }">
          <ul class="py-2">
            <li *ngFor="let option of itemsPerPageOptions" class="px-4 py-2 hover:bg-gray-200 transition cursor-pointer"
              [class.bg-gray-200]="itemsPerPage === option" (click)="handleItemPerPage(option)">
              <button class="block text-gray-800">
                {{ option }}
              </button>
            </li>
          </ul>
        </div>
      </div> 


     <div class="flex flex-row gap-2 ml-4">
        <div class="mr-2 text-[15px]">{{ foodList.from }}-{{ foodList.to }} of {{ foodList.total }}</div>
      
        <mat-icon (click)="goToPage('first')" [class.text-custom-color]="currentPage !== 1" [class.text-gray-300]="currentPage === 1" [class.cursor-pointer]="currentPage !== 1">
          <span class="material-symbols-outlined">first_page</span>
        </mat-icon>
      
        <mat-icon (click)="goToPage('backward')" [class.text-custom-color]="currentPage !== 1" [class.text-gray-300]="currentPage === 1" [class.cursor-pointer]="currentPage !== 1">
          <span class="material-symbols-outlined">chevron_left</span>
        </mat-icon>
      
        <mat-icon (click)="goToPage('forward')" [class.text-custom-color]="currentPage !== totalPages" [class.text-gray-300]="currentPage === totalPages" [class.cursor-pointer]="currentPage !== totalPages">
          <span class="material-symbols-outlined">chevron_right</span>
        </mat-icon>
      
        <mat-icon (click)="goToPage('last')" [class.text-custom-color]="currentPage !== totalPages" [class.text-gray-300]="currentPage === totalPages" [class.cursor-pointer]="currentPage !== totalPages">
          <span class="material-symbols-outlined">last_page</span>
        </mat-icon>
      </div> 
      
    </div>

  </div>
</div>

 <app-confirmation-modal *ngIf="showDeleteConfirmation" (confirmed)="deleteFoodFirst()" (canceled)="cancelDelete()" [modalContent]="modalContent"></app-confirmation-modal>  