<app-header ></app-header>
<div class="px-[30px] mt-10 mb-[30px]">
    <div class="text-2xl font-bold border-b-4 border-red-500  pb-3">Add Table</div>
</div>


<div class="bg-white md:px-[30px] px-[10px] mt-10 text-center md:shadow-2xl m-[30px]  font-bold" *ngIf="!sidebar">
    <form [formGroup]="tableForm" (ngSubmit)="addTable()">
        <div class="grid grid-rows-5 grid-cols-3 md:grid-rows-3 md:grid-row-3 gap-4 w-full">
            <div class="row-span-1 col-span-3 md:col-span-2 md:order-none order-2 w-full">
                <mat-form-field class=" col-span-3 w-full" appearance="outline">
                    <mat-label >Table Number</mat-label>
                    <input matInput formControlName="tableNumber" required />
                </mat-form-field>
            </div>

            <div class="row-span-3 col-span-3 md:row-span-3 md:col-span-1 order-1 md:order-none md:pb-[50px] pb-[24px]">
                <label for="fileInput" *ngIf="!selectedImage"
                    class="cursor-pointer  border-2 border-dashed border-gray-400 px-5 text-lg h-full text-center flex items-center justify-center">
                    Click to upload image
                </label>
                <input type="file" id="fileInput" style="display: none" (change)="handleFileInput($event)"
                    accept="image/*">

                <div *ngIf="selectedImage"
                    class="relative cursor-pointer border-2 border-dashed border-gray-400 px-5  h-full text-center flex items-center justify-center">
                    <img [src]="selectedImage" class="max-h-[240px]">
                    <button
                        class="absolute top-1 right-1 border-2 border-gray-800 bg-gray-800 text-white hover:border-red-500 hover:bg-red-500 hover:text-white rounded-full h-[28px] w-[28px] flex justify-center items-center"
                        (click)="removeImage()"><mat-icon>close</mat-icon></button>
                </div>
            </div>

            <div class="food-background row-span-1 col-span-3 md:col-span-2 order-3">

                <mat-form-field class="col-span-3 w-full" appearance="outline">
                    <mat-select placeholder="Select Discount Type">
                        <div *ngFor="let topping of statusSortingValue">
                            <mat-option [value]="topping"
                                (click)="selectedNumberOfSeats(topping.label)">{{topping.label}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="pb-[50px] flex justify-center row-span-1 col-span-3 md:col-span-2 md:order-last order-last w-full">
                <button type="submit" class="w-full  text-lg bg-red-500 p-3 text-white rounded-lg">
                    <span>Add Food</span>
                </button>
            </div>

        </div>
    </form>
</div>