<app-header></app-header>
<div class="main-content">
    <div class="header-content">
        <h2 class="text-center ">Scroll-Pagination</h2>
    </div>
    <div class="pagination-content" scrollTracker (scrollingFinished)="onScrollingFinished()">

        <div >
            <ng-container *ngIf="foodItem.length>0 && !parentLoader">
      
              <div
                class="flex flex-col xl:flex-row justify-center   z-10  gap-[30px] m-4 border-2 border-gray-200 hover:border-red-500 bg-white  rounded-xl p-8 rotate-on-hover"
                *ngFor="let food of foodItem">
        
                <div class="xl:w-[350px] w-full pt-3 flex items-center justify-center">
                  <img class="rounded-full shadow-2xl h-[200px] w-[200px]  xl:h-[200px] xl:w-[200px] object-cover rotate-on-hover-image"
                    [src]="baseUrl+'food/'+food.image" />
                </div>
        
                <div class="w-full">
                  <h1 class="text-2xl font-bold">{{food.name}}</h1>
                  <p class="text-justify text-sm">{{food.description}}</p>
                  <h2>Price: {{food.price}}$</h2>
                  <div>
                    <h2>Discounted Price: {{food.discountPrice}}$</h2>
                  </div>
                </div>
        
              </div>
              <div *ngIf="isLoading" class="pt-5 pb-10">
                <div  class="text-center mb-0">Loading...</div>
              </div>
          

            </ng-container>




          </div>
          <ng-container *ngIf="parentLoader">
            <div class="flex gap-10 bg-gray-200 rounded-xl  animate-pulse  mx-[20px]  p-4">
              <div class="flex justify-center items-center h-full">
                <div class="bg-white h-[170px] w-[170px] rounded-full mb-1 animate-pulse flex justify-center items-center">
      
                </div>
      
              </div>
              <div class="flex flex-col w-full pt-10">
                <div class="bg-white rounded-xl h-[30px] mb-5 w-[200px] animate-pulse"></div>
                <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                <div class="bg-white rounded-xl h-[24px] mb-5 w-4/5 animate-pulse"></div>
                <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
                <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
              </div>
            </div>
            <div class="flex gap-10 bg-gray-200 rounded-xl  animate-pulse  mx-[20px] mt-10  p-4">
                <div class="flex justify-center items-center h-full">
                  <div class="bg-white h-[170px] w-[170px] rounded-full mb-1 animate-pulse flex justify-center items-center">
        
                  </div>
        
                </div>
                <div class="flex flex-col w-full pt-10">
                  <div class="bg-white rounded-xl h-[30px] mb-5 w-[200px] animate-pulse"></div>
                  <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                  <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                  <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                  <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                  <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
                  <div class="bg-white rounded-xl h-[24px] mb-5 w-4/5 animate-pulse"></div>
                  <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
                  <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
                </div>
              </div>
      
      
          </ng-container>

    </div>

</div>

