.main-content {
    margin: 0px 100px;
  }
  
  .header-content {
    background-color: #fff;
    text-align: justify;
    height: 100px;
  }
  
  .pagination-content{
    height: calc(100vh - 150px);
    overflow-y: auto;
    border: 1px solid #be0d0d;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 3px;
    color: #000000;
    font-size: 20px;
    text-align: center;
  }
  
  .pagination-item {
    padding: 3px;
    cursor: pointer;
    border-bottom: 1px solid rgb(237, 234, 234);
    &:hover {
      background-color: #eeeded;
      color: rgb(46, 44, 44);
    }
  }
  
  
  .button-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .button-primary{
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 400px;
    color: #fff;
    background-color: #d35b5b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button-primary:hover {
    background-color: #000000;
  }