<h1 mat-dialog-title class="text-center !text-[24px]">Assign Employee To a Table</h1>
<div class="flex gap-8 px-[50px] items-center">
    <div class="h-full">
        <div class="w-[200px]  object-cover flex justify-center items-center ">
            <img src="assets/images/table/fourSeats.jpg" />
        </div>
    </div>
    <div class=" ">
        <h2 class="!leading-[10px] text-center !text-lg">Table Id: {{tableId}}</h2>
        <h2 class="!leading-[10px] text-center pb-5 !text-lg">Number Of Seats: {{numberOfSeats}}</h2>

          <div class="white-background">
            <mat-form-field>
                <mat-select  multiple  placeholder="Select Employee" [(value)]="selectedEmployees">
                  <div *ngFor="let topping of NonAssignEmployee">
                    <mat-option [value]="topping">{{topping.name}} </mat-option>
                  </div>
              </mat-select>
              </mat-form-field>
          </div>

    </div>
</div>

<div class="flex justify-end gap-3">
    <div mat-dialog-actions>
        <button mat-button (click)="addAssignEmployee()" class="!text-green-500">Assign</button>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()" class="!text-red-400">Close</button>
    </div>
</div>