
::ng-deep.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full, .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full{
    background-color: #f05252;
  }


.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 310px !important;
    text-align: left;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--mat-form-field-container-text-font);
    line-height: var(--mat-form-field-container-text-line-height);
    font-size: var(--mat-form-field-container-text-size);
    letter-spacing: var(--mat-form-field-container-text-tracking);
    font-weight: var(--mat-form-field-container-text-weight);
  }
  
  
  
  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    /* color: red !important;
    background-color: #ffffff !important;
    font-size: 14px !important;
    padding: 0 10px !important; */
    display: none !important;
  }
  
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
    /* color: #ffffff !important; */
    display: none !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #ffffff !important;
  }
  
  
  .mat-mdc-form-field-focus-overlay{
    background-color: #ffffff !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
    /* border-bottom-color: #ffffff !important; */
    border-bottom: none !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
    /* border-bottom-color: #ffffff !important; */
    border-bottom: none !important;
  }
  
  .mdc-text-field--filled .mdc-line-ripple::after{
    /* border-bottom-color: #ffffff !important; */
    border-bottom: none !important;
  }
  
  
  .mat-mdc-select {
    display: inline-block;
    width: 300px !important;
    outline: none;
    border-radius: 50px !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--mat-select-enabled-trigger-text-color);
    font-family: var(--mat-select-trigger-text-font);
    line-height: var(--mat-select-trigger-text-line-height);
    font-size: var(--mat-select-trigger-text-size);
    font-weight: var(--mat-select-trigger-text-weight);
    letter-spacing: var(--mat-select-trigger-text-tracking);
  }
  
  ng-deep.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full, .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full{
    background-color: #f05252;
  }









/* 
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field-disabled).mdc-text-field--focused .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field-disabled).mdc-text-field--focused .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field-disabled).mdc-text-field--focused .mdc-notched-outline__trailing{
border-color: white !important;

} */