<app-header></app-header>
<div class="px-[30px] mt-10">
  <div class="text-lg md:text-xl font-bold border-b-4 border-red-500  pb-3">Add Employee</div>
</div>

<div class="h-[calc(100vh-210px)] overflow-y-auto  bg-white md:px-[30px] px-[10px] mt-10 text-center md:shadow-xl mx-[30px]  font-bold" *ngIf="!sidebar">
  <form [formGroup]="newEmployeeForm" (ngSubmit)="addEmployee()">

    <div class="grid grid-rows-6  grid-cols-3 lg:grid-rows-3 lg:grid-cols-3 gap-3">

      <mat-form-field class="mt-5 lg:row-span-1 lg:col-span-2 row-span-1 col-span-3 lg:order-none order-2" appearance="outline">
        <mat-label class="opacity-75">First Name</mat-label>
        <input matInput formControlName="firstName" required />
      </mat-form-field>

      
      <div class="row-span-3 col-span-3 md:row-span-3 lg:col-span-1 md:col-span-3 order-1 md:order-none md:pt-[20px] pb-[24px]">
        <label for="fileInput" *ngIf="!selectedImage"
            class="cursor-pointer  border-2 border-dashed border-gray-400 px-5 text-lg h-full text-center flex items-center justify-center">
            Click to upload image
        </label>
        <input type="file" id="fileInput" style="display: none" (change)="handleFileInput($event)"
            accept="image/*">

        <div *ngIf="selectedImage"
            class="relative cursor-pointer border-2 border-dashed border-gray-400 px-5  h-full text-center flex items-center justify-center">
            <img [src]="selectedImage" class="max-h-[240px]">
            <button
                class="absolute top-1 right-1 border-2 border-gray-800 bg-gray-800 text-white hover:border-red-500 hover:bg-red-500 hover:text-white rounded-full h-[28px] w-[28px] flex justify-center items-center"
                (click)="removeImage()"><mat-icon>close</mat-icon></button>
        </div>
    </div>

      <mat-form-field class="mt-5 lg:row-span-1 lg:col-span-2 row-span-1 col-span-3 lg:order-none order-3" appearance="outline">
        <mat-label class="opacity-75">Middle Name</mat-label>
        <input matInput formControlName="middleName" required />
      </mat-form-field>

      <mat-form-field class="mt-5 lg:row-span-1 lg:col-span-2 row-span-1 col-span-3 lg:order-none order-4" appearance="outline">
        <mat-label class="opacity-75">Last Name</mat-label>
        <input matInput formControlName="lastName" required />
      </mat-form-field>

      
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">

      <mat-form-field class="mt-5" appearance="outline">
        <mat-label class="opacity-75">Father Name</mat-label>
        <input matInput formControlName="fatherName" required />
      </mat-form-field>

      <mat-form-field class="mt-5" appearance="outline">
        <mat-label class="opacity-75">Mother Name</mat-label>
        <input matInput formControlName="motherName" required />
      </mat-form-field>
      <mat-form-field class="mt-5" appearance="outline">
        <mat-label class="opacity-75">Spouse Name</mat-label>
        <input matInput formControlName="spouseName" required />
      </mat-form-field>

      <mat-form-field class="mt-5" appearance="outline">
        <mat-label class="opacity-75">Designation</mat-label>
        <input matInput formControlName="designation" required />
      </mat-form-field>
      <mat-form-field class="mt-5" appearance="outline">
        <mat-label class="opacity-75">Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>


      <mat-form-field class="mt-5" appearance="outline">
        <mat-label class="opacity-75">Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" required />
      </mat-form-field>
    </div> 

    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4">

      <mat-form-field class="mt-5" appearance="outline">
        <mat-label class="opacity-75">Gender</mat-label>
        <input matInput formControlName="genderId" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mt-5">
        <mat-label class="opacity-75">Date of Birth</mat-label>
        <input matInput [matDatepicker]="pickerOfBirth" placeholder="mm/dd/yyyy" formControlName="dob" required readonly
          (click)="pickerOfBirth.open()" />
        <mat-datepicker-toggle matIconSuffix [for]="pickerOfBirth"></mat-datepicker-toggle>
        <mat-datepicker #pickerOfBirth></mat-datepicker>

      </mat-form-field>

      <mat-form-field appearance="outline" class="mt-5">
        <mat-label class="opacity-75">Join Date</mat-label>
        <input matInput [matDatepicker]="pickerOfJoinDate" placeholder="mm/dd/yyyy" formControlName="joinDate" required
          readonly (click)="pickerOfJoinDate.open()" />
        <mat-datepicker-toggle matIconSuffix [for]="pickerOfJoinDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerOfJoinDate></mat-datepicker>

      </mat-form-field>

      <mat-form-field class="mt-5" appearance="outline">
        <mat-label class="opacity-75">NID</mat-label>
        <input matInput formControlName="nid" required />
      </mat-form-field>

    </div>

    <div class="container  pb-[50px]  flex justify-center">
      <button type="submit" class="w-full mt-5 text-xl bg-red-500 p-3 text-white rounded-lg" >
        <span>Submit</span>
      </button>
    </div>
  </form>

</div>