
.rotate-on-hover:hover .rotate-on-hover-image {
  animation: rotateAnimation 10s infinite linear;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}



.overflow-y-scroll::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #f13434;
  border-radius: 10px;
}

/* .overflow-y-scroll::-webkit-scrollbar-track {
  background-color: #aaaaaa; 
}

.overflow-y-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #e02424; 
}

.overflow-y-scroll:hover::-webkit-scrollbar-track {
  background-color: #aaaaaa; 
} */
