<app-header></app-header>

<div class="flex justify-center items-center md:inline">
  <div class="flex flex-col justify-center mx-auto md:flex-row  md:justify-between mt-[10px] lg:px-[50px] px-4">
    <h1 class="text-red-500 pt-[20px] ">Order Food</h1>

    <form [formGroup]="foodForm" class="md:inline" [ngClass]="{'hidden': sidebar}">
      <div class="search-background m pb-4 ">
        <mat-form-field class="w-full">
          <div class="flex justify-between items-center gap-[10px] ">
            <div class="flex justify-center items-center">
              <mat-icon fontIcon="search" class="text-primary-500 custom-search-icon"></mat-icon>
            </div>
            <input matInput placeholder="Search Food..." formControlName="search" required />
            <div class="flex justify-center items-center">

            </div>
          </div>
        </mat-form-field>

      </div>
    </form>

  </div>
</div>

<div class="flex justify-center item-center mb-[50px] lg:hidden ">
  <div class="flex overflow-x-auto overflow-visible space-x-6 w-4/5 bg-[#f2f2f2]">
    <div *ngFor="let item of tableList.data">

      <div (click)="selectedTable(item.tableNumber)" [ngClass]="{'bg-red-600': selectedTableId === item.tableNumber}"
        class="flex flex-col justify-center px-3 items-center border-2 border-gray-300 hover:bg-red-600 hover:text-white bg-gray-50 rounded-xl mb-3">
        <div class="w-[120px] h-[120px] pt-3">
          <img class="rounded-full" [src]="baseUrl+'table/'+item.image" />
        </div>
        <p class="pt-4 text-[15px] font-medium">{{item.tableNumber}}</p>
      </div>

    </div>
  </div>
</div>

<div
  class="flex flex-row justify-between gap-[30px] xl:px-[50px] lg:px-[20px] px-0  lg:h-[calc(100vh-180px)]  md:h-[calc(100vh-400px)]"
  *ngIf="!sidebar">

  <div class="w-[400px]  bg-[#f2f2f2] hidden lg:inline ">
    <h3 class="text-center py-4 font-semibold">Select A Table ({{tableList.data.length}})</h3>
    <div class="px-6 space-y-6 overflow-y-scroll h-[calc(100vh-260px)]">

      <ng-container *ngIf="!isLoading">
        <div *ngFor="let item of tableList.data">

          <div (click)="selectedTable(item.tableNumber)"
            [ngClass]="{'bg-red-600 text-white': selectedTableId === item.tableNumber}"
            class="flex flex-col justify-center items-center border-2 border-gray-300 hover:bg-red-600 hover:text-white  rounded-xl">
            <div class="w-[120px] h-[120px] pt-3">
              <img class="rounded-full" [src]="baseUrl+'table/'+item.image" />
            </div>
            <p class="pt-4 text-[15px] font-medium">{{item.tableNumber}}</p>
          </div>

        </div>
      </ng-container>

      <ng-container *ngIf="isLoading">

        <div class="bg-white rounded-xl h-[200px] mb-1 w-full animate-pulse"></div>
        <div class="bg-white rounded-xl h-[35px] mb-1 w-full animate-pulse"></div>
        <div class="bg-white rounded-xl h-[35px] mb-1 w-full animate-pulse"></div>
        <div class="bg-white rounded-xl h-[35px] mb-1 w-full animate-pulse"></div>
        <div class="bg-white rounded-xl h-[35px] mb-1 w-full animate-pulse"></div>
        <div class="bg-white rounded-xl h-[35px] mb-1 w-full animate-pulse"></div>
        <div class="bg-white rounded-xl h-[35px] mb-1 w-full animate-pulse"></div>
        <div class="bg-white rounded-xl h-[35px] mb-1 w-full animate-pulse"></div>
        <div class="bg-white rounded-xl h-[35px] mb-1 w-full animate-pulse"></div>

      </ng-container>

    </div>
  </div>


  <div class="w-full overflow-hidden bg-[#f2f2f2] relative md:h-[calc(100vh-400px)] lg:h-full"
    [ngClass]="{'overflow-y-auto h-full': selectedTableId}">

    <div class="w-full absolute top-0  h-full  bg-[rgba(255, 255, 255, 0.8)] backdrop-blur-2xl"
      *ngIf="!selectedTableId && !isLoading">
      <div
        class=" border-2 border-dashed border-red-500 bg-white flex flex-col justify-center items-center xl:h-[300px] h-fit">

        <img class="xl:h-[200px] h-[100px]" src="../../../../assets//alert.jpg" />
        <p class="text-black text-center text-2xl ">At First Select A Table</p>
      </div>

    </div>

    <h3 class="text-start pt-4 font-semibold px-4">Select Foods ({{foodList.totalRecords}})</h3>

    <div scrollTracker (scrollingFinished)="onScrollingFinished()">
      <ng-container *ngIf="foodItem.length>0 && !parentLoading">

        <div *ngFor="let food of foodItem">
          <div
            class="flex flex-col xl:flex-row justify-center   z-10  gap-[30px] m-4 border-2 border-gray-200 hover:border-red-500 bg-white  rounded-xl p-8 rotate-on-hover">

            <div class="xl:w-[350px] w-full pt-3 flex items-center justify-center">
              <img
                class="rounded-full shadow-2xl h-[200px] w-[200px]  xl:h-[200px] xl:w-[200px] object-cover rotate-on-hover-image"
                [src]="baseUrl+'food/'+food.image" />
            </div>

            <div class="w-full">
              <h1 class="text-2xl font-bold">{{food.name}}</h1>
              <p class="text-justify">{{food.description}}</p>
              <h2>Price: {{food.price}}$</h2>
              <div>
                <h2>Discounted Price: {{food.discountPrice}}$</h2>
                <button class="xl:w-[200px] w-full font-bold px-4 py-3 bg-red-500 text-white rounded-lg "
                  (click)="selectedFood(food)" [disabled]="isFoodItemSelected(food)"
                  [ngClass]="{ 'bg-gray-500 cursor-not-allowed': isFoodItemSelected(food), 'bg-red-500 hover:bg-green-500': !isFoodItemSelected(food) }">
                  {{ isFoodItemSelected(food) ? 'Item Selected' : 'Add To Cart' }}
                </button>
              </div>
            </div>

          </div>

          <div *ngIf="isLoading" class="pt-5 pb-10">
            <div class="text-center mb-0">Loading...</div>
          </div>

        </div>


      </ng-container>
      <ng-container *ngIf="parentLoading">
        <div class="flex gap-10 bg-gray-200 rounded-xl  animate-pulse h-[350px] mx-[20px]  p-4">
          <div class="flex justify-center items-center h-full">
            <div class="bg-white h-[170px] w-[170px] rounded-full mb-1 animate-pulse flex justify-center items-center">
  
            </div>
  
          </div>
          <div class="flex flex-col w-full pt-10">
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[200px] animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-5 w-4/5 animate-pulse"></div>
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
          </div>
        </div>
        <div class="flex gap-10 bg-gray-200  animate-pulse h-[350px]  p-4 mt-[20px]">
          <div class="flex justify-center items-center h-full">
            <div class="bg-white h-[200px] w-[200px] rounded-full mb-1 animate-pulse flex justify-center items-center">
  
            </div>
  
          </div>
          <div class="flex flex-col w-full pt-10">
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[200px] animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-5 w-4/5 animate-pulse"></div>
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
          </div>
        </div>
        <div class="flex gap-10 bg-gray-200  animate-pulse h-[350px]  p-4">
          <div class="flex justify-center items-center h-full">
            <div class="bg-white h-[200px] w-[200px] rounded-full mb-1 animate-pulse flex justify-center items-center">
  
            </div>
  
          </div>
          <div class="flex flex-col w-full pt-10">
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[200px] animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-5 w-4/5 animate-pulse"></div>
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
          </div>
        </div>
  
      </ng-container>
  

    </div>



    <!-- <ng-container>
      <ng-container *ngIf="isLoading">
        <div class="flex gap-10 bg-gray-200 rounded-xl  animate-pulse h-[350px] mx-[20px]  p-4">
          <div class="flex justify-center items-center h-full">
            <div class="bg-white h-[170px] w-[170px] rounded-full mb-1 animate-pulse flex justify-center items-center">

            </div>

          </div>
          <div class="flex flex-col w-full pt-10">
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[200px] animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-1 w-full animate-pulse"></div>
            <div class="bg-white rounded-xl h-[24px] mb-5 w-4/5 animate-pulse"></div>
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
            <div class="bg-white rounded-xl h-[30px] mb-5 w-[300px] animate-pulse"></div>
          </div>
        </div>

      </ng-container>
      <div *ngIf="foodList.data.length===0 && !isLoading">
        <h2 class="text-center mt-6">No Food Item Found !</h2>
      </div>
    </ng-container> -->

  </div>

</div>