<app-header ></app-header>
<div class="flex justify-center items-center md:inline">
    <div class="flex flex-col justify-center mx-auto md:flex-row  md:justify-between mt-[10px] px-[50px]">
        <h1 class="text-red-500 pt-[20px]">All Orders</h1>    
        <div class="search-background  pb-4 md:inline"  [ngClass]="{'hidden': sidebar}">    
            <mat-form-field>
                <mat-select placeholder="Filter Order By Status">
                    <div *ngFor="let topping of statusSortingValue">
                        <mat-option [value]="topping" (click)="getSortedOrderList(topping.id)" >{{topping.label}} </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>    
    </div>
</div>

<div class="h-[calc(100vh-180px)] overflow-y-auto " >
    <div class="grid  xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1 grid-cols-1 gap-4 md:px-10 px-4 mt-3 mb-5" *ngIf="!isLoading">
        <div *ngFor="let order of orderList.data">
            <div class="xl:w-full xl:max-w-[400px] lg:max-w-[350px] md:min-w-[300px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">

                <div class="flex justify-between">
                    <div class="text-sm">
                        <p class="text-lg font-semibold ">{{order.orderNumber}}</p>
                        <p>{{order.orderTime}}</p>
                    </div>
                    <div (click)=" openDeleteConfirmationModal(order.id)"
                        class="border border-1 border-red-500 rounded-full w-[40px] h-[40px] flex justify-center items-center  hover:opacity-100 cursor-pointer">
                        <mat-icon class="text-red-500">delete</mat-icon>
                    </div>
                </div>

                <div class="h-[210px] overflow-y-auto">
                    <div *ngFor="let foodData of order.orderItems">

                        <div class="mt-3 flex flex-row items-center gap-4 w-full border border-b-2 rounded-xl px-2 hover:bg-gray-100">
                            <img class="rounded-full shadow-2xl h-[80px] w-[80px] object-cover mt-1 mb-1"
                                [src]="baseUrl+'food/'+foodData.food.image" />
                            <div class="flex flex-col w-full space-y-2">
                                <div class="text-lg font-semibold ">{{foodData.food.name}}</div>
                                <div class="flex justify-between w-full">
                                    <p class="text-[16px] font-semibold text-green-500">{{foodData.totalPrice}} $</p>
                                    <p class="text-[16px] font-semibold ">Qty:{{foodData.quantity}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mt-6">
                    <div class="flex justify-between">
                        <p class="font-semibold ">Total Item: {{order.orderItems.length}}</p>
                        <p class="font-bold">Table: {{order.table.tableNumber}}</p>
                    </div>
                    <div class="flex justify-between">
                        <p class="text-lg text-green-500 font-semibold">Amount: {{order.amount}}</p>
                        <div class="flex justify-end gap-2" *ngIf="!toogleFoodStatus || toggleValue!==order.id">
                            <p class="text-green-500 font-semibold" *ngIf="order.orderStatus==='PreparedToServe'">
                                {{order.orderStatus}}</p>
                            <p class="text-yellow-500 font-semibold" *ngIf="order.orderStatus==='Pending'">
                                {{order.orderStatus}}</p>
                            <p class="text-blue-500 font-semibold" *ngIf="order.orderStatus==='Confirmed'">
                                {{order.orderStatus}}</p>
                            <p class="text-red-500 font-semibold" *ngIf="order.orderStatus==='Preparing'">
                                {{order.orderStatus}}</p>
                            <p class="text-gray-500 font-semibold" *ngIf="order.orderStatus==='Served'">
                                {{order.orderStatus}}</p>
                            <p class="text-green-700 font-semibold" *ngIf="order.orderStatus==='Paid'">
                                {{order.orderStatus}}</p>
                            <mat-icon class="text-green-500" (click)="ToggleFoodStatus(order.id)">add_circle</mat-icon>
                        </div>

                        <div class="food-status m pb-4" *ngIf="toogleFoodStatus && toggleValue===order.id">
                            <mat-form-field>
                                <mat-select placeholder={{order.orderStatus}}>
                                    <div *ngFor="let topping of statusValue">
                                        <mat-option [value]="topping" (click)="updateStatus(order.id,topping.id)">{{topping.label}} </mat-option>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 px-10 mt-3 mb-5" *ngIf="isLoading">

        <div class="xl:max-w-[350px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[25px] w-[100px] mb-4 bg-gray-200 rounded-xl"></div>
            <div class="h-[90px] w-full mb-3 bg-gray-100 rounded-xl "></div>
            <div class="h-[90px] w-full mb-4 bg-gray-100 rounded-xl "></div>
            <div class="h-[20px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
        </div>
        <div class="xl:max-w-[350px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[25px] w-[100px] mb-4 bg-gray-200 rounded-xl"></div>
            <div class="h-[90px] w-full mb-3 bg-gray-100 rounded-xl "></div>
            <div class="h-[90px] w-full mb-4 bg-gray-100 rounded-xl "></div>
            <div class="h-[20px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
        </div>
        <div class="xl:max-w-[350px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[25px] w-[100px] mb-4 bg-gray-200 rounded-xl"></div>
            <div class="h-[90px] w-full mb-3 bg-gray-100 rounded-xl "></div>
            <div class="h-[90px] w-full mb-4 bg-gray-100 rounded-xl "></div>
            <div class="h-[20px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
        </div>
        <div class="xl:max-w-[350px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[25px] w-[100px] mb-4 bg-gray-200 rounded-xl"></div>
            <div class="h-[90px] w-full mb-3 bg-gray-100 rounded-xl "></div>
            <div class="h-[90px] w-full mb-4 bg-gray-100 rounded-xl "></div>
            <div class="h-[20px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
        </div>
        <div class="xl:max-w-[350px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[25px] w-[100px] mb-4 bg-gray-200 rounded-xl"></div>
            <div class="h-[90px] w-full mb-3 bg-gray-100 rounded-xl "></div>
            <div class="h-[90px] w-full mb-4 bg-gray-100 rounded-xl "></div>
            <div class="h-[20px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
        </div>
        <div class="xl:max-w-[350px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[25px] w-[100px] mb-4 bg-gray-200 rounded-xl"></div>
            <div class="h-[90px] w-full mb-3 bg-gray-100 rounded-xl "></div>
            <div class="h-[90px] w-full mb-4 bg-gray-100 rounded-xl "></div>
            <div class="h-[20px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
        </div>
        <div class="xl:max-w-[350px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[25px] w-[100px] mb-4 bg-gray-200 rounded-xl"></div>
            <div class="h-[90px] w-full mb-3 bg-gray-100 rounded-xl "></div>
            <div class="h-[90px] w-full mb-4 bg-gray-100 rounded-xl "></div>
            <div class="h-[20px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
        </div>
        <div class="xl:max-w-[350px] lg:w-full w-full h-[400px] bg-white rounded-2xl shadow-2xl p-5">
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[25px] w-[100px] mb-4 bg-gray-200 rounded-xl"></div>
            <div class="h-[90px] w-full mb-3 bg-gray-100 rounded-xl "></div>
            <div class="h-[90px] w-full mb-4 bg-gray-100 rounded-xl "></div>
            <div class="h-[20px] w-full mb-3 bg-gray-200 rounded-xl"></div>
            <div class="h-[30px] w-full mb-3 bg-gray-200 rounded-xl"></div>
        </div>

    </div>


    <div class="flex flex-row justify-center gap-10 pb-10" *ngIf="!isLoading">
        <mat-icon (click)="goToPage('first')" [class.text-custom-color]="currentPage !== 1" [class.text-gray-300]="currentPage === 1" [class.cursor-pointer]="currentPage !== 1">
          <span class="material-symbols-outlined">first_page</span>
        </mat-icon>
      
        <ng-container>
          <div *ngFor="let page of getPagesArray(totalPages); let i = index" (click)="goToPage(page)" [class.text-custom-color]="currentPage !== page" [class.text-gray-300]="currentPage === page" [class.cursor-pointer]="currentPage !== page">
            {{ page }}
          </div>
        </ng-container>
      
        <mat-icon (click)="goToPage('last')" [class.text-custom-color]="currentPage !== totalPages" [class.text-gray-300]="currentPage === totalPages" [class.cursor-pointer]="currentPage !== totalPages">
          <span class="material-symbols-outlined">last_page</span>
        </mat-icon>
      </div>
      
</div>

<app-confirmation-modal *ngIf="showDeleteConfirmation" (confirmed)="deleteOrderFirst()" (canceled)="cancelDelete()" [modalContent]="modalContent"></app-confirmation-modal>