
    <div class="lg:flex lg:flex-row h-screen ">
      <div class="lg:w-[350px] lg:inline bg-slate-400 h-screen basis-none hidden">

        <div class="flex flex-col justify-between p-6 h-screen bg-white border w-full md:w-75 lg:w-full">
          <div>
            <div class="flex justify-between  border-b-2">
              <div class="flex justify-start gap-3 pb-4">
                <img src="../../../../assets/sajib.jpg" class="w-14 rounded-full" />
                <div class="flex flex-col">
                  <div>Admin</div>
                  <div>admin@mail.com</div>
                </div>
              </div>
      
            </div>
      
            <div>
              <div >
                <a *ngFor="let item of menuItems" [routerLink]="item.routerLink" routerLinkActive="!font-bold !bg-gray-200 rounded-xl"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="flex justify-start items-center gap-5 p-2 text-red-500 hover:bg-gray-200 hover:rounded-xl my-1">
                  <fa-icon [icon]="item.icon" class="text-[16px] font-bold"></fa-icon>
                  <span class="text-sm font-semibold">{{ item.label }}</span>
                </a>
              </div>
            </div>
      
          </div>
          <button class="text-red-500 border-2 border-red-500 focus:ring-blue-300 font-medium rounded-full text-md py-2.5 text-center hover:bg-red-500 hover:text-white" routerLink="/login">
            <fa-icon [icon]="faRightFromBracket" class="text-lg mr-1"></fa-icon>Logout
          </button>
        </div> 


      </div>
      <div class="lg:w-full basis-none  h-screen overflow-y-auto">
        <router-outlet></router-outlet>  
      </div>
    </div>

