
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    z-index: 10000; 
  }
  

  table {
    width: 100%;
  }


  .customIconSize {
    font-size: 15px;
    height: 20px ;
    width: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}



.starred {
  color: rgb(255, 1, 1);

}

.starredIcon{
  background-color: rgb(219, 219, 219);
}