<app-header ></app-header>
<div class="flex justify-between items-center px-10 mt-[10px]">
  <p class="text-red-500 text-[20px]"> Employee List</p>
  <button class="w-[200px] h-[50px] bg-white text-black rounded-lg  border border-red-300 hover:border-red-500 transition duration-300 ease-in-out hover:bg-red-500 hover:text-white" routerLink="/dashboard/add-employee">
    Add Employee
  </button>

</div>
<div class="h-[calc(100vh-168px)] overflow-y-auto ">
  <div class="p-4">
    <div class="overflow-x-auto" *ngIf="!isLoading">
      <table class="w-full bg-white border border-gray-300" >
        <thead>
          <tr class="flex flex-row">
            <th class="py-2 px-4 border-b text-left w-[100px] truncate">Image</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Name</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Email</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Date Of Birth</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Phone</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Gender</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Action</th>
          </tr> 
        </thead>
        <tbody *ngFor="let employee of employeeList.data" class="hover:bg-gray-100">
          <tr class="flex flex-row items-center border-b">

            <td class="py-2 px-4  text-left w-[100px] truncate"> <img class="rounded-full shadow-2xl h-[40px] w-[40px]  object-cover rotate-on-hover-image"
              [src]="baseUrl+'user/'+employee.user?.image" />
            
            <td class="py-2 px-4  text-left basis-1/6 truncate flex justify-between gap-10 items-center">
              <div class="truncate">
                {{ employee.user?.firstName}}  {{ employee.user?.middleName}} {{ employee.user?.lastName}}
              </div>
             
              <div class="text-white mt-2 flex justify-center items-center !h-[20px] !w-[20px] rounded-full"
              [class.starred]="starredEmployees.has(employee.user?.id)"
              (click)="onClickStar(employee.user?.id)">
           <mat-icon  class="customIconSize bg-gray-400 rounded-full" [class.starredIcon]="starredEmployees.has(employee.user?.id)">star</mat-icon>
         </div>
              
              </td>
            <td class="py-2 px-4  text-left basis-1/6 truncate ">{{ employee.user?.email }}</td>
            <td class="py-2 px-4  text-left basis-1/6 truncate">{{ employee.user?.dob }}</td>
            <td class="py-2 px-4  text-left basis-1/6 truncate">{{ employee.user?.userName }}</td>
            <td class="py-2 px-4  text-left basis-1/6 truncate">{{ employee.user?.genderName }}</td>
            <td class="py-2 px-4  basis-1/6 flex flex-row gap-[10px] truncate">
              <mat-icon>
                <span class="material-symbols-outlined text-green-400 hover:text-green-600 cursor-pointer">
                  edit
                </span>
              </mat-icon>
              <mat-icon *ngIf="employee.id" (click)=" openDeleteConfirmationModal(employee.id)">
                <span class="material-symbols-outlined text-red-400 hover:text-red-600 cursor-pointer">
                  delete
                </span>
              </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="overflow-x-auto" *ngIf="isLoading">
      <table class="w-full bg-white border border-gray-300" >
        <thead>
          <tr class="flex flex-row">
            <th class="py-2 px-4 border-b text-left w-[100px] truncate">Image</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Name</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Email</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Date Of Birth</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Phone</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Gender</th>
            <th class="py-2 px-4 border-b text-left basis-1/6 truncate">Action</th>
          </tr> 
        </thead>
        <tbody >
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
          <tr class="flex flex-row">
            <td class="py-2 mx-2 bg-gray-100 border-b text-left w-[100px] rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>
            <td class="py-2 mx-2 bg-gray-100 border-b text-left basis-1/6 rounded-xl h-[35px] mb-1"></td>

          </tr>
        </tbody>
      </table>
    </div> 

    <div class="flex justify-end items-center mt-[20px]">

      <!-- Menu Container -->
      <div class="relative md:inline" #menuContainer [ngClass]="{'hidden': sidebar}">
        <button
          class="py-2 px-4 bg-white text-black w-[100px] rounded focus:outline-none focus:shadow-outline border border-slate-600 flex flex-row justify-center items-center gap-1"
          (click)="toggleMenu()">
          {{ this.itemsPerPage }}
          <mat-icon *ngIf="!isMenuOpen"><span class="material-symbols-outlined">arrow_drop_down</span> </mat-icon>
          <mat-icon *ngIf="isMenuOpen"><span class="material-symbols-outlined">arrow_drop_up</span> </mat-icon>
        </button>
        <div class="absolute bottom-full right-0  w-[100px] bg-white border rounded shadow-lg hidden"
          [ngClass]="{ 'block': isMenuOpen, 'hidden': !isMenuOpen }">
          <ul class="py-2">
            <li *ngFor="let option of itemsPerPageOptions" class="px-4 py-2 hover:bg-gray-200 transition cursor-pointer"
              [class.bg-gray-200]="itemsPerPage === option" (click)="handleItemPerPage(option)">
              <button class="block text-gray-800">
                {{ option }}
              </button>
            </li>
          </ul>
        </div>
      </div>

      <!-- Pagination Icons Container -->
      <div class="flex flex-row gap-2 ml-4">
        <div class="mr-2 text-[15px]">{{ employeeList.from }}-{{ employeeList.to }} of {{ employeeList.total }}</div>
      
        <mat-icon (click)="goToPage('first')" [class.text-custom-color]="currentPage !== 1" [class.text-gray-300]="currentPage === 1" [class.cursor-pointer]="currentPage !== 1">
          <span class="material-symbols-outlined">first_page</span>
        </mat-icon>
      
        <mat-icon (click)="goToPage('backward')" [class.text-custom-color]="currentPage !== 1" [class.text-gray-300]="currentPage === 1" [class.cursor-pointer]="currentPage !== 1">
          <span class="material-symbols-outlined">chevron_left</span>
        </mat-icon>
      
        <mat-icon (click)="goToPage('forward')" [class.text-custom-color]="currentPage !== totalPages" [class.text-gray-300]="currentPage === totalPages" [class.cursor-pointer]="currentPage !== totalPages">
          <span class="material-symbols-outlined">chevron_right</span>
        </mat-icon>
      
        <mat-icon (click)="goToPage('last')" [class.text-custom-color]="currentPage !== totalPages" [class.text-gray-300]="currentPage === totalPages" [class.cursor-pointer]="currentPage !== totalPages">
          <span class="material-symbols-outlined">last_page</span>
        </mat-icon>
      </div>
      
    </div>

  </div>
</div>

<app-confirmation-modal *ngIf="showDeleteConfirmation" (confirmed)="deleteEmployeeFirst()" (canceled)="cancelDelete()" [modalContent]="modalContent"></app-confirmation-modal>