<div class="bg-red-500 z-10">
    <div class="flex justify-between items-center">
        <div class="flex justify-between items-center text-2xl w-full lg:px-10 pl-3 pr-4">

            <div class="flex items-center gap-1">
                <img src="../../../../assets//logo.png" alt="" class="w-14 md:w-16" />
                <div class="text-white font-bold text-lg md:text-xl">BSS RESTAURANT</div>
            </div>

            <div class="text-[17px]  md:flex flex-row gap-5 ">
                <div class="lg:flex  hidden gap-4">
                    <a href="/dashboard/employee-list" class="text-white border-b-2 font-bold border-white text-bold">Admin</a>
                    <a href="/dashboard/home" class="text-white">Services</a>
                    <a href="/dashboard/home" class="text-white">About</a>
                </div>

                <div class="mb-2 relative">
                        <mat-icon  class=" text-2xl text-white cursor-pointer" (click)="cartToggle()"><span class="material-symbols-outlined">
                            shopping_bag
                            </span></mat-icon>
                            <p class="absolute left-[20px] top-0 w-[20px] h-[20px] bg-white text-xs rounded-full text-center flex justify-center items-center"><span>{{selectedFoodListLength}}</span></p>
                </div>
            </div>
        </div>
        <button id="menu-btn" type="button" class="block hamburger lg:hidden focus:outline-none mx-8" (click)="navToggle()" [ngClass]="{ open: isMenuOpen }">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
    </div>

    <div id="menu" [ngClass]="{hidden: !isMenuOpen,'absolute w-full md:w-[300px] rounded-lg left-0 top-0  lg:hidden': isMenuOpen}">
        <app-sidebar [isMenuOpen]="isMenuOpen" (closeNavValue)="handleCloseSidebar()"></app-sidebar>
    </div>

    <div *ngIf="isCartOpen" class="absolute rounded-lg right-0 top-0">
        <app-shopping-cart [isCartOpen]="isCartOpen" (closeCartValue)="handleCloseCart()"></app-shopping-cart>
    </div>

</div>

