<app-header ></app-header>
<div class="flex justify-between px-10 mt-[10px]">
    <h1 class="text-red-500"> Table List</h1>
    <button
        class="w-[200px] h-[50px] bg-white text-black rounded-lg border border-red-300 hover:border-red-500 transition duration-300 ease-in-out hover:bg-red-500 hover:text-white"
        routerLink="/dashboard/add-table">
        Add Table
    </button>

</div>
<div class="h-[calc(100vh-140px)] overflow-y-auto mt-4">
    <div class="px-4">
        <div class="overflow-y-auto" *ngIf="!isLoading">
            <table class="w-full bg-white border border-gray-300">
                <thead>
                    <tr class="flex flex-row">
                        <th class="py-2 truncate basis-1/6 px-4 border-b text-left">Table Number</th>
                        <th class="py-2 truncate basis-1/6 px-4 border-b text-left">Table Seats</th>
                        <th class="py-2 truncate basis-1/6 px-4 border-b text-left">Booking Status</th>
                        <th class="py-2 truncate basis-2/6 px-4 border-b text-left">Employees</th>
                        <th class="py-2 truncate basis-1/6  border-b text-left">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let table of tableList.data" class="hover:bg-gray-50">
                    <tr class="flex flex-row">
                        <td class="py-2 basis-1/6 truncate px-4 border-b text-left">{{ table.tableNumber }}</td>
                        <td class="py-2 basis-1/6 truncate px-4 border-b text-left">{{ table.numberOfSeats }}</td>
                        <td class="py-2 basis-1/6 truncate px-4 border-b text-left">Available</td>
                        <td class="py-2 basis-2/6 truncate px-4 border-b text-left ">
                            <div *ngFor="let employee of table.employees" class="flex justify-start items-center gap-2 bg-gray-200 truncate mb-1 px-2 py-2 rounded-2xl md:w-fit ">
                                <div class="truncate">{{ employee.name }}</div>
                                <div class="w-fit rounded-2xl px-1 bg-red-400 hover:bg-red-500 text-white">
                                  <button class="mt-1" aria-label="Example icon button with a filter list icon" (click)="openDeleteConfirmationModal(employee.employeeId)">
                                    <mat-icon>remove</mat-icon>
                                  </button>
                                </div>
                              </div>

                            <div class="w-fit rounded-2xl px-1 bg-green-400 hover:bg-green-500 text-white">
                                <button class=" mt-1" aria-label="Example icon button with a filter list icon "
                                    (click)="openDialog(table.id,table.numberOfSeats)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>

                        </td>
                        <td class="py-2 basis-1/6 truncate px-4 border-b text-left flex items-center">
                            <mat-icon *ngIf="table.id" class="flex justify-center items-center "
                                (click)=" openDeleteConfirmationModal(table.id)">
                                <span class="material-symbols-outlined text-red-400 hover:text-red-600 cursor-pointer">
                                    delete
                                </span>
                            </mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        <div class="overflow-y-auto" *ngIf="isLoading">
            <table class="w-full  border border-gray-300">
                <thead class="bg-white">
                    <tr class="flex flex-row ">
                        <th class="py-2 truncate basis-1/6 px-4 border-b text-left">Table Number</th>
                        <th class="py-2 truncate basis-1/6 px-4 border-b text-left">Table Seats</th>
                        <th class="py-2 truncate basis-1/6 px-4 border-b text-left">Booking Status</th>
                        <th class="py-2 truncate basis-2/6 px-4 border-b text-left">Employees</th>
                        <th class="py-2 truncate basis-1/6  border-b text-left">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                   <tr class="flex flex-row items-center justify-start border-b-2 border-white py-2">
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl ml-2"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="flex flex-col basis-2/6 w-full mr-4 truncate">
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                    <td class="flex flex-col basis-1/6 w-full mr-4">
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                   </tr>

                   
                   <tr class="flex flex-row items-center justify-start border-b-2 border-white py-2">
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl ml-2"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="flex flex-col basis-2/6 w-full mr-4">
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                    <td class="flex flex-col basis-1/6 w-full mr-4">
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                   </tr>

                   <tr class="flex flex-row items-center justify-start border-b-2 border-white py-2">
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl ml-2"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="flex flex-col basis-2/6 w-full mr-4">
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                    <td class="flex flex-col basis-1/6 w-full mr-4">
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                   </tr>

                   <tr class="flex flex-row items-center justify-start border-b-2 border-white py-2">
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl ml-2"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="flex flex-col basis-2/6 w-full mr-4">
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                    <td class="flex flex-col basis-1/6 w-full mr-4">
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                   </tr>

                   <tr class="flex flex-row items-center justify-start border-b-2 border-white py-2">
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl ml-2"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="flex flex-col basis-2/6 w-full mr-4">
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                    <td class="flex flex-col basis-1/6 w-full mr-4">
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                   </tr>

                   <tr class="flex flex-row items-center justify-start border-b-2 border-white py-2">
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl ml-2"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="bg-white h-[30px] mr-4 basis-1/6 animate-pulse rounded-xl"></td>
                    <td class="flex flex-col basis-2/6 w-full mr-4">
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] mb-1 w-2/3 animate-pulse rounded-xl"></div>
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                    <td class="flex flex-col basis-1/6 w-full mr-4">
                        <div class="bg-white h-[40px] w-[40px] rounded-full mb-1  animate-pulse"></div>
                    </td>
                   </tr>

                </tbody>
            </table>
        </div>


        <div class="flex justify-end items-center mt-[20px]">
            <!-- Menu Container -->
            <div class="relative md:inline" #menuContainer [ngClass]="{'hidden': sidebar}">
                <button
                    class="py-2 px-4 bg-white text-black w-[100px] rounded focus:outline-none focus:shadow-outline border border-slate-600 flex flex-row justify-center items-center gap-1"
                    (click)="toggleMenu()">
                    {{ this.itemsPerPage }}
                    <mat-icon *ngIf="!isMenuOpen"><span class="material-symbols-outlined">arrow_drop_down</span>
                    </mat-icon>
                    <mat-icon *ngIf="isMenuOpen"><span class="material-symbols-outlined">arrow_drop_up</span>
                    </mat-icon>
                </button>
                <div class="absolute bottom-full right-0 z-1000 w-[100px] bg-white border rounded shadow-lg hidden"
                    [ngClass]="{ 'block': isMenuOpen, 'hidden': !isMenuOpen }">
                    <ul class="py-2">
                        <li *ngFor="let option of itemsPerPageOptions"
                            class="px-4 py-2 hover:bg-gray-200 transition cursor-pointer"
                            [class.bg-gray-200]="itemsPerPage === option" (click)="handleItemPerPage(option)">
                            <button class="block text-gray-800">
                                {{ option }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Pagination Icons Container -->
            <div class="flex flex-row gap-2 ml-4">
                <div class="mr-2 text-[15px]">{{ tableList.from }}-{{ tableList.to }} of {{ tableList.total }}</div>

                <mat-icon (click)="goToPage('first')" [class.text-custom-color]="currentPage !== 1"
                    [class.text-gray-300]="currentPage === 1" [class.cursor-pointer]="currentPage !== 1">
                    <span class="material-symbols-outlined">first_page</span>
                </mat-icon>

                <mat-icon (click)="goToPage('backward')" [class.text-custom-color]="currentPage !== 1"
                    [class.text-gray-300]="currentPage === 1" [class.cursor-pointer]="currentPage !== 1">
                    <span class="material-symbols-outlined">chevron_left</span>
                </mat-icon>

                <mat-icon (click)="goToPage('forward')" [class.text-custom-color]="currentPage !== totalPages"
                    [class.text-gray-300]="currentPage === totalPages"
                    [class.cursor-pointer]="currentPage !== totalPages">
                    <span class="material-symbols-outlined">chevron_right</span>
                </mat-icon>

                <mat-icon (click)="goToPage('last')" [class.text-custom-color]="currentPage !== totalPages"
                    [class.text-gray-300]="currentPage === totalPages"
                    [class.cursor-pointer]="currentPage !== totalPages">
                    <span class="material-symbols-outlined">last_page</span>
                </mat-icon>
            </div>

        </div>

    </div>
    <app-confirmation-modal *ngIf="showDeleteConfirmation" (confirmed)="deleteTableFirst()" (canceled)="cancelDelete()"
        [modalContent]="modalContent"></app-confirmation-modal>
</div>