<div class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="bg-white p-6 rounded shadow-lg">
      <h1 class="text-2xl font-bold mb-4">Confirm Deletion</h1>
      <p class="mb-4">Are you sure you want to delete this {{modalContent}}?</p>
      <div class="flex justify-end">
        <button class="px-4 py-2 mr-2 bg-gray-300 text-gray-700 rounded" (click)="onCancelClick()">Cancel</button>
        <button class="px-4 py-2 bg-red-500 text-white rounded" (click)="onConfirmClick()">Confirm</button>
      </div>
    </div>
  </div>
  
