/* styles.css or styles.scss */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom Styles */
.google-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.google-input input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.15s ease, background-color 0.15s ease; 
}

.google-input input:focus {
  border-color: #4285f4; 
}

.google-input input:not(:placeholder-shown) {
  background-color: white; 
}

.google-input label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: top 0.15s ease, font-size 0.15s ease;
}

.google-input input:focus + label,
.google-input input:not(:placeholder-shown) + label {
  top: 0;
  left: 15px;
  font-size: 14px;
  background-color: #ffffff;
  padding: 5px;
}





/* Login Page */
.container-bg{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1)),url('./assets/images/dash-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}

.login-left{
      background:url('./assets/images/food-bg2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1000px;
      height: 100%;
      filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.25));
      opacity: 0;
      transform: translateY(-100%);
      animation: slide-left 1s forwards 1s;
}

.rotate-img{
  animation:  spin 40s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-left {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.login-right{
  opacity: 0;
  transform: translateX(100%);
  animation: slide-right 1s forwards 1s;
}


@keyframes slide-right {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Navbar */
 .hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.white-background {
.mdc-text-field {
  border-top-left-radius: 4px;
  border-top-left-radius: var(--mdc-shape-small, 4px);
  border-top-right-radius: 4px;
  border-top-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-flex;
  align-items: baseline;
  padding: 0 5px !important;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  will-change: opacity,transform,color;
}

.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  min-width: 310px !important;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mat-form-field-container-text-font);
  line-height: var(--mat-form-field-container-text-line-height);
  font-size: var(--mat-form-field-container-text-size);
  letter-spacing: var(--mat-form-field-container-text-tracking);
  font-weight: var(--mat-form-field-container-text-weight);
}



.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
  /* color: red !important;
  background-color: #ffffff !important;
  font-size: 14px !important;
  padding: 0 10px !important; */
  display: none !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
  /* color: #ffffff !important; */
  display: none !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: #ffffff !important;
}


.mat-mdc-form-field-focus-overlay{
  background-color: #ffffff !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
  /* border-bottom-color: #000000 !important; */
  border-bottom: none !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
  /* border-bottom-color: #000000 !important; */
  border-bottom: none !important;
}

.mdc-text-field--filled .mdc-line-ripple::after{
  /* border-bottom-color: #d80d0d !important; */
  border-bottom: none !important;
}


.mat-mdc-select {
  display: inline-block;
  width: 300px !important;
  outline: none;
  border-radius: 50px !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--mat-select-enabled-trigger-text-color);
  font-family: var(--mat-select-trigger-text-font);
  line-height: var(--mat-select-trigger-text-line-height);
  font-size: var(--mat-select-trigger-text-size);
  font-weight: var(--mat-select-trigger-text-weight);
  letter-spacing: var(--mat-select-trigger-text-tracking);
}

ng-deep.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full, .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full{
  background-color: #f05252;
}

}



.search-background {


  .mdc-text-field {
    border-top-left-radius: 4px;
    border-top-left-radius: var(--mdc-shape-small, 4px);
    border-top-right-radius: 4px;
    border-top-right-radius: var(--mdc-shape-small, 4px);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-flex;
    align-items: baseline;
    padding: 0 5px !important;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    will-change: opacity,transform,color;
  }
  
  .mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 310px !important;
    text-align: left;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--mat-form-field-container-text-font);
    line-height: var(--mat-form-field-container-text-line-height);
    font-size: var(--mat-form-field-container-text-size);
    letter-spacing: var(--mat-form-field-container-text-tracking);
    font-weight: var(--mat-form-field-container-text-weight);
  }
  
  
  
  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    /* color: red !important;
    background-color: #ffffff !important;
    font-size: 14px !important;
    padding: 0 10px !important; */
    display: none !important;
  }
  
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
    /* color: #ffffff !important; */
    display: none !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #ffffff !important;
  }
  
  
  .mat-mdc-form-field-focus-overlay{
    background-color: #ffffff !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
    border-bottom-color: #000000 !important;
    /* border-bottom: none !important; */
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
    border-bottom-color: #000000 !important;
    /* border-bottom: none !important; */
  }
  
  .mdc-text-field--filled .mdc-line-ripple::after{
    border-bottom-color: #d80d0d !important;
    /* border-bottom: none !important; */
  }
  
  
  .mat-mdc-select {
    display: inline-block;
    width: 300px !important;
    outline: none;
    border-radius: 50px !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--mat-select-enabled-trigger-text-color);
    font-family: var(--mat-select-trigger-text-font);
    line-height: var(--mat-select-trigger-text-line-height);
    font-size: var(--mat-select-trigger-text-size);
    font-weight: var(--mat-select-trigger-text-weight);
    letter-spacing: var(--mat-select-trigger-text-tracking);
  }
  
  ng-deep.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full, .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full{
    background-color: #f05252;
  }

}





.food-status {

  .mdc-text-field {
    border-top-left-radius: 4px;
    border-top-left-radius: var(--mdc-shape-small, 4px);
    border-top-right-radius: 4px;
    border-top-right-radius: var(--mdc-shape-small, 4px);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-flex;
    align-items: baseline;
    padding: 0 10px !important;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    will-change: opacity,transform,color;
  }
  
  .mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 150px !important;

    text-align: left;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--mat-form-field-container-text-font);
    line-height: var(--mat-form-field-container-text-line-height);
    font-size: var(--mat-form-field-container-text-size);
    letter-spacing: var(--mat-form-field-container-text-tracking);
    font-weight: var(--mat-form-field-container-text-weight);
  }
  
  
  
  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    /* color: red !important;
    background-color: #ffffff !important;
    font-size: 14px !important;
    padding: 0 10px !important; */
    display: none !important;
  }
  
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
    /* color: #ffffff !important; */
    display: none !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #ffffff !important;
  }
  
  
  .mat-mdc-form-field-focus-overlay{
    background-color: #ffffff !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
    border-bottom-color: #000000 !important;
    /* border-bottom: none !important; */
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
    border-bottom-color: #000000 !important;
    /* border-bottom: none !important; */
  }
  
  .mdc-text-field--filled .mdc-line-ripple::after{
    border-bottom-color: #d80d0d !important;
    /* border-bottom: none !important; */
  }
  
  
  .mat-mdc-select {
    display: inline-block;
    width: 150px !important;
   
    outline: none;
    border-radius: 50px !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--mat-select-enabled-trigger-text-color);
    font-family: var(--mat-select-trigger-text-font);
    line-height: var(--mat-select-trigger-text-line-height);
    font-size: var(--mat-select-trigger-text-size);
    font-weight: var(--mat-select-trigger-text-weight);
    letter-spacing: var(--mat-select-trigger-text-tracking);
  }
  
  ng-deep.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full, .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full{
    background-color: #f05252;
  }



  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 0px !important;
   padding-bottom: 0px !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 160px;
    position: relative;
    box-sizing: border-box;
}

.mat-mdc-form-field-infix {
     min-height: 30px; 
}

.mat-mdc-form-field-infix {
     min-height: 20px !important; 
}



}

.spinner.mat-progress-spinner circle, .mat-spinner circle {   
  stroke: white !important;
}



