::ng-deep .mdc-notched-outline__notch {
    border-right: none !important;
  }


  .food-background{
    .mdc-text-field {
        border-top-left-radius: 4px;
        border-top-left-radius: var(--mdc-shape-small, 4px);
        border-top-right-radius: 4px;
        border-top-right-radius: var(--mdc-shape-small, 4px);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        display: inline-flex;
        align-items: baseline;
        padding: 0 10px !important;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        will-change: opacity,transform,color;
      }
      
      .mat-mdc-form-field {
        --mat-mdc-form-field-floating-label-scale: 0.75;
        display: inline-flex;
        flex-direction: column;
        min-width: 250px !important;
        text-align: left;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: var(--mat-form-field-container-text-font);
        line-height: var(--mat-form-field-container-text-line-height);
        font-size: var(--mat-form-field-container-text-size);
        letter-spacing: var(--mat-form-field-container-text-tracking);
        font-weight: var(--mat-form-field-container-text-weight);
      }
      
      
      
      .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
        /* color: red !important;
        background-color: #ffffff !important;
        font-size: 14px !important;
        padding: 0 10px !important; */
        display: none !important;
      }
      
      .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
        /* color: #ffffff !important; */
        display: none !important;
      }
      
      .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background-color: #ffffff !important;
      }
      
      
      .mat-mdc-form-field-focus-overlay{
        background-color: #ffffff !important;
      }
      
      .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
        border-bottom-color: #000000 !important;
        /* border-bottom: none !important; */
      }
      
      .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
        border-bottom-color: #000000 !important;
        /* border-bottom: none !important; */
      }
      
      .mdc-text-field--filled .mdc-line-ripple::after{
        border-bottom-color: #d80d0d !important;
        /* border-bottom: none !important; */
      }
      
      
      .mat-mdc-select {
        display: inline-block;
        width: 250px !important;
        outline: none;
        border-radius: 50px !important;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: var(--mat-select-enabled-trigger-text-color);
        font-family: var(--mat-select-trigger-text-font);
        line-height: var(--mat-select-trigger-text-line-height);
        font-size: var(--mat-select-trigger-text-size);
        font-weight: var(--mat-select-trigger-text-weight);
        letter-spacing: var(--mat-select-trigger-text-tracking);
      }
      
      ng-deep.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full, .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full{
        background-color: #f05252;
      }
  }



  .disabled-input {
    pointer-events: none !important;

}
