<app-header ></app-header>
<div class="px-[30px] mt-10 mb-0">
    <div class="text-2xl font-bold border-b-4 border-red-500 pb-3">Add Food</div>
</div>

<div class="bg-white xl:px-[30px] px-[10px] mt-10 text-center xl:shadow-2xl m-[30px] h-[calc(100vh-168px)] overflow-y-auto font-bold" *ngIf="!sidebar">
    <form [formGroup]="foodForm" (ngSubmit)="addFood()">
        <div class="grid grid-rows-5 grid-cols-3 xl:grid-rows-3 xl:grid-row-3 gap-4 w-full">
            <div class="row-span-1 col-span-3 xl:col-span-2 xl:order-none order-2 w-full">
                <mat-form-field class=" col-span-3 w-full" appearance="outline">
                    <mat-label class="opacity-75">Food Name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>
            </div>

            <div class="row-span-3 col-span-3 xl:row-span-3 xl:col-span-1 order-1 xl:order-none pb-[24px]">
                <label for="fileInput" *ngIf="!selectedImage"
                    class="cursor-pointer border-2 border-dashed border-gray-400 px-5 text-lg h-full text-center flex items-center justify-center">
                    Click to upload image
                </label>
                <input type="file" id="fileInput" style="display: none" (change)="handleFileInput($event)"
                    accept="image/*">

                <div *ngIf="selectedImage"
                    class="relative cursor-pointer border-2 border-dashed border-gray-400 px-5  h-full text-center flex items-center justify-center">
                    <img [src]="selectedImage" class="max-h-[240px]">
                    <button
                        class="absolute top-1 right-1 border-2 border-gray-800 bg-gray-800 text-white hover:border-red-500 hover:bg-red-500 hover:text-white rounded-full h-[28px] w-[28px] flex justify-center items-center"
                        (click)="removeImage()"><mat-icon>close</mat-icon></button>
                </div>
            </div>

            <div class="row-span-2 col-span-3 xl:row-span-2 xl:col-span-2 order-3 xl:order-none ">
                <mat-form-field class="col-span-3 w-full !h-full" appearance="outline">
                    <mat-label class="opacity-75">Description</mat-label>

                    <input matInput formControlName="description" required />
                </mat-form-field>
            </div>
        </div>

        <div class=" grid grid-rows-1 grid-cols-1 xl:grid-rows-1 xl:grid-cols-4 gap-4">
            <div class="xl:col-span-1">
                <mat-form-field class=" col-span-3 w-full" appearance="outline">
                    <mat-label class="opacity-75">Price</mat-label>
                    <input matInput formControlName="price" required />
                </mat-form-field>
            </div>

            <div class="food-background xl:col-span-1 ">

                <mat-form-field class=" col-span-3 w-full" appearance="outline">
                    <mat-select placeholder="Select Discount Type">
                        <div *ngFor="let topping of statusSortingValue">
                            <mat-option [value]="topping" (click)="selectedDiscountType(topping.id)">{{topping.label}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="xl:col-span-1">
                <mat-form-field class="col-span-3 w-full" appearance="outline">
                    <mat-label class="opacity-75">Discount In(%)</mat-label>
                    <input matInput formControlName="discount" required [disabled]="discountId === 0"
                        [readonly]="discountId === 0" class="disabled-input" />
                </mat-form-field>
            </div>

            <div class="xl:col-span-1">
                <mat-form-field class="col-span-3 w-full" appearance="outline">
                  <mat-label class="opacity-75">Discounted Price</mat-label>
                  <input matInput formControlName="discountPrice" required [disabled]="discountId === 0" [readonly]="discountId === 0" class="disabled-input" />
                </mat-form-field>
              </div>
              
        </div>
        <div class="pb-[50px] flex justify-center">
            <button type="submit" class="w-full  text-lg bg-red-500 p-3 text-white rounded-lg">
                <span>Add Food</span>
            </button>
        </div>
    </form>
</div>